body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(37, 36, 36);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
h1{
    margin: 10px 70px;
    text-align: left;
    color: white;
    font-size: 48px;
    }
h2{
    margin: 10px 70px;
    text-align: justify;
    color: white;
}
h3{
    color: white;
}
#imgLogo{
    margin:23px 0px 0px 43px;
    float: left;
}

#section1{
    display: block;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.57) url(assets/nextFlix_background.jpg) no-repeat center 0px;
    background-size: cover;
    background-blend-mode: darken;
}


.rightSide ul{
    margin-right:60px ;
}
    .rightSide ul li{
        float: right;
        margin-left: 25px;
    }
    select{
        background-color: black;
        border-color: white;
        color: white;
        padding: 8px 8px;
        font-size: 15px;
    }
    button#signInButton {
        background-color: red;
        border-width: 0px;
        border-radius: 3px;
        padding: 8px 18px;
        font-size: 15px;
    }


#emailSection{
    text-align: center;
    padding-top: 170px;
    align-items: center;
}
    #emailSection .col-7{
        margin: auto;
    }  
    #emailSection h1{
        font-size:50px;
        margin: 10px 0px;
        text-align: center;
    }
    #emailSection h2{
        text-align: center;
    }
        #inputEmail{
            border-radius: 0px;
            border-width: 1px;
            padding: 24px 7cm 13px 6px;
            margin: 0px;
        }
        #getStartButton{
        color: white;
        background-color: red;
        border: none;
        margin: 0px;
        padding: 15px 30px;
        }
        #getStartButton span{
            font-size: 24px;
        }

.color{
    background-color: black;
}
.color .row-2{
    margin: 8px auto;
    text-align: center;
}
#frequentlyAskedQuestions .col-8 {
    margin: 0px auto;
}
#frequentlyAskedQuestions h1{
    text-align: center;
}
    .collapsible {
        background-color: rgb(41, 41, 41);
        color: white;
        cursor: pointer;
        padding: 23px 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 25px;
        margin: 4px 0px;
    }    
    .active{
        background-color: #555;
    }    
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: rgb(41, 41, 41);
        color: white;
        font-size: 20px;
        transition-duration: 1.5s;
    }

#footPage{
      padding: 70px 0px;
      }
    #footPage .col-8{
        margin: 0px auto;
        }
        #footPage ul {
            display: grid; 
            grid-template-areas:
            'itemFooter itemFooter itemFooter itemFooter'
            'itemFooter itemFooter itemFooter itemFooter'
            'itemFooter itemFooter itemFooter itemFooter'
            'itemFooter itemFooter itemFooter itemFooter';
            gap: 15px;
            padding: 5px;
            
        }
            #footPage a{
            color:#777;
            font-size: 12px;
            }
            #footPage label{
                color:#777;
                }


/*-------------------------------------------STRUCTURE BASE----------------------------------*/
.row{
    display:flex;
    width: 100%;
    align-items: center; 
    text-align: center;
}
.row-2{
    display:flex;
    width: 97%;
    padding: 40px 0px;
    align-items: center; 
    text-align: center;
}
.col-middle{width: 4.15%;}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.32%;}
.col-5{width: 41.65%;}
.col-6{width: 50%;}
.col-7{width: 58.31%;}
.col-8{width: 66.64%;}
.col-9{width: 75%;}
.col-10{width: 80.33%;}
.col-11{width: 91.63%;}
.col-12{width: 100%;}